body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
        vertical-align: bottom;
        margin-top: 50px;
}

.logo {
    font-weight: bold !important;
    font-size: 6em !important;
    white-space: nowrap;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .logo {
        white-space: nowrap;
        font-size: 4em !important;
    }

    .image {
        height: 70px;
    }
}